################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dbs/CitizensDb/obj/Debug
/dbs/CitizensDb/bin/Debug
/dbs/CitizensDb/.vs/CitizensDb/v16
/dbs/CitizensDb/CitizensDb.dbmdl
/dbs/GeoLocationsDb/GeoLocationsDb/GeoLocationsDb/GeographiesDb.dbmdl
/dbs/GeoLocationsDb/GeoLocationsDb/obj/Debug
/dbs/GeoLocationsDb/GeoLocationsDb/bin/Debug
/dbs/GeoLocationsDb/.vs/GeographiesDb/v16
/dbs/GeographiesDb/.vs/GeographiesDb/v16
/dbs/GeographiesDb/GeographiesDb/bin/Debug
/dbs/GeographiesDb/GeographiesDb/obj/Debug
/dbs/GeographiesDb/obj/Debug
/dbs/GeographiesDb/bin/Debug
/dbs/GeographiesDb/GeographiesDb.dbmdl
/dbs/GeographiesDb/GeographiesDb.jfm
/dbs/CitizensDb/CitizensDb.jfm
/services/GeoLocationsApi/.vs/GeographiesApi
/services/GeographiesApi/bin/Debug/net5.0
/services/GeographiesApi/.vs/GeographiesApi
/services/GeographiesApi/.vscode
/services/GeographiesApi/obj
/services/CitizensApi/bin/Debug/net5.0
/services/CitizensApi/obj

/services/CitizensApi/.vs/CitizensApi/v16/.suo
/dbs/TaxesDb/.vs/TaxesDb/v16
/dbs/TaxesDb/bin/Debug
/dbs/TaxesDb/obj/Debug
/services/CitizensApi/.vs/CitizensApi
/services/TaxCalculationApi/.vs/TaxCalculationApi
/services/TaxCalculationApi/.vscode
/services/TaxCalculationApi/bin/Debug/net5.0
/services/TaxCalculationApi/obj
/web/CityMonitoringAppMvc/.vs/CitiyMonitoringAppMvc/DesignTimeBuild/.dtbcache.v2
/web/CityMonitoringAppMvc/.vs/CityMonitoringAppMvc/config
/web/CityMonitoringAppMvc/.vs/CityMonitoringAppMvc/v16
/web/CityMonitoringAppMvc/.vscode
/web/CityMonitoringAppMvc/bin/Debug/net5.0
/web/CityMonitoringAppMvc/obj
/dbs/ProjectsDb/.vs/ProjectsDb/v16/.suo
/dbs/ProjectsDb/bin/Debug
/dbs/ProjectsDb/obj/Debug
/services/ProjectsApi/bin/Debug/net5.0
/services/ProjectsApi/.vs/ProjectsApi/v16
/services/ProjectsApi/obj
/web/ProjectsAppMvc/.vscode
/web/ProjectsAppMvc/bin/Debug/net5.0
/web/ProjectsAppMvc/obj
/services/ProjectsApi/.vscode
/services/ProjectsApi/.vs/ProjectsApi/DesignTimeBuild/.dtbcache.v2
/web/ProjectsAppMvc/.vs/ProjectsAppMvc
/web/ProjectsAppMvc/ProjectsAppMvc.csproj.user
/web/CityMonitoringAppMvc/.vs/CityMonitoringAppMvc/DesignTimeBuild/.dtbcache.v2
/dbs/ProjectsDb/ProjectsDb.jfm
/dbs/ProjectsDb/ProjectsDb.dbmdl
/bin/Debug
/obj
/services/CitizensApi/.vscode
/services/CitizensApi/bin/Debug
/services/IdentityApi/obj/Debug/net5.0
/services/IdentityApi/obj/Release/net5.0
/web/CitizenPortalWebMVC/obj/Debug/net5.0
/web/CitizenPortalWebMVC/obj/Release/net5.0
